<style>
    #Image {
        background-image: url('/images/counter_background.jpg') !important;
    }
</style>

<div class="counter">
    <div class="counter_background" id="Image"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="counter_content">
                    <h2 class="counter_title">Student Site</h2>
                    <div class="counter_text"><p>A simple way to do your exams.</p></div>

                    <!-- Milestones -->

                    <div class="milestones d-flex flex-md-row flex-column align-items-center justify-content-between">

                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="2000">0</div>
                            <div class="milestone_text">Student</div>
                        </div>
                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="80" data-sign-after="+">0</div>
                            <div class="milestone_text">Course</div>
                        </div>
                        <!-- Milestone -->
                        <div class="milestone">
                            <div class="milestone_counter" data-end-value="140" data-sign-after="+">0</div>
                            <div class="milestone_text">Topic</div>
                        </div>


                    </div>
                </div>

            </div>
        </div>

        <div class="counter_form">
            <div class="row fill_height">
                <div class="col fill_height">
                    <form class="counter_form_content d-flex flex-column align-items-center justify-content-center" action="#">
                        <div class="counter_form_title">Login</div>
                        <input type="text" class="counter_input" placeholder="Your Email:" required="required">
                        <input type="password" class="counter_input" placeholder="Password:" required="required">
                        <button type="submit" class="counter_form_button">Go</button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
