

<!--for each course that this student has-->
<!-- Blog -->

<div class="blog">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="blog_post_container">

                    <!-- for each course we put a blog post -->
                    <div class="blog_post trans_200">
                        <!-- here we put the course Image-->
                        <div class="blog_post_image"><img src="/images/blog_3.jpg" alt=""></div>
                        <div class="blog_post_body">
                            <div class="blog_post_title">Biology 101</div>
                            <div class="blog_post_meta">
                                <ul>
                                    <li><a href="#">Dr. Radwan</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
</div>
</div>
</div>