

<div class="blog">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading align-content-center" style="margin-bottom:20px;">
                        <div class="panel-title text-center panel-relative" style="height:unset">
                            <h2> Web Develpment Exam</h2>
                        </div>
                    </div>
                    <div class="panel-group">
                        <div class="row">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-8">
                                <div class="panel-group">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                Question
                                            </h4>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="checkbox ion-android-checkbox-outline">
                                                    <input data-val="true" id="ch1" name="ch1" type="checkbox" value="true" />
                                                    <label for="ch1">
                                                        HTML Question ?
                                                    </label>
                                                </div>
                                                <div class="checkbox ion-android-checkbox-outline">
                                                    <input data-val="true" id="ch2" name="ch2" type="checkbox" value="true" />
                                                    <label for="ch2">
                                                        HTML Question ?
                                                    </label>
                                                    <!--change the id and name and for for each choice when runing in a for loop by using a counter-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="panel-footer">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

