<section class="content">
    <div class="error-page ">

        <h2 class="headline text-orange">403</h2>

        <div class="error-content ">
            <br />
            <h3><i class="fa fa-warning text-orange"></i> Oops!Access Denied .</h3>

            <p>
                Sorry you don't have access to this page,
                Meanwhile, you may <a href="../home/index">return to dashboard</a> .
            </p>
        </div>
        <!-- /.error-page -->
    </div>

</section>