
@model GroupC.Uni.Web.ViewModels.ForgoutPasswordViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container account-login-container">
    <div class="login-box">
        <div class="login-logo">
            <a href="~/Views/Home/Index.cshtml"><b>GroupC</b>Admin</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Please enter your email to reset the passwords</p>
            <div class=row>
                <div class="col-md-12">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for=" Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <p style="text-align:right">
                        <a asp-action="Login" class="btn btn-sm btn-outline-primary" style="margin-right:10px">Back</a>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
