@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container account-login-container">
    <div class="login-box">
        <div class="login-logo">
            <a href="~/Views/Home/Index.cshtml"><b>GroupC</b>Admin</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">
                If you have an account with us, we have sent an email
                with the instructions to reset your password.
            </p>
            <p style="text-align:right">
                <a asp-action="ForgotPassword" class="btn btn-sm btn-outline-primary" style="margin-right:10px">Back</a>

            </p>
        </div>
    </div>
</div>
