
@model GroupC.Uni.Web.ViewModels.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="container account-login-container">
    <div class="login-box">
        <div class="login-logo">
            <a href="~/Views/Home/Index.cshtml"><b>GroupC</b>Admin</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Please enter your new Password and confirm it</p>

            <form method="post" id="resetForm">
                <div asp-validation-summary="All" class="text-danger"></div>
                <label asp-for="Token"> Should be get by email</label>
                <input asp-for="Token" class="hidden" />
                <input asp-for="Email" class="hidden" />

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for=" Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for=" ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary" data-target="#resetPassModal" data-toggle="modal">Reset</button>
            </form>
        </div>
    </div>
</div>


@*<div class="col-md-4" id="topicPanel">
        @Html.Partial("_ResetPasswordConfirmation")
    </div>
    @if (ViewBag.message != null)
    {
        <script>
            var data = $("#resetForm").serialize();
                $.ajax({
                    type: "POST",
                    url: "/Account/ResetPassword",
                    data: data,
                    success: function (response) {
                        alert("you are done");
                    },
                });
        </script>
    }*@
