@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container account-login-container">
    <div class="login-box">
        <div class="login-logo">
            <a href="~/Views/Home/Index.cshtml"><b>GroupC</b>Admin</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">
                Your password is reset. Please click<a asp-action="Login"> here to login</a>
            </p>

        </div>
    </div>
</div>


